{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <form class="name_form" action="/" method="POST">
        <div class="mb-3">
          <label class="form-label">Input name</label>
          <input type="text" class="form-control" name="input_name" required>
        </div>
        <button type="submit" class="btn btn-primary">Say hello</button>
    </form>
</div>
{% endblock %}