{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
    {% for item in names_list %}
        <li class="list-group-item">
            <p>Name: {{item[2]}}</p>
            <p>Created: {{item[1]}}</p>
            <form action="/delete/{{item[0]}}" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}