{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    {% if exist %}
        <div class="hello">We have already met, {{input_name}}</div>
    {% else %}
        <div class="hello">Hello, {{input_name}}</div>
    {% endif %}
</div>
{% endblock %}